body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: #e0e0e0;
    text-align: center;
}
html, body {
  overflow-x: hidden;
  height: 100%;
}
  .grand_ecran{
    display: none;
}
.switch{
    margin: 20px;
    font-family: "Paytone One";
    color:#202020;
    text-transform: uppercase;
    letter-spacing: -2px;
    
  }
  .switch span{
    display: block;
    margin: 40px 0 -10px 0;
    font-size: clamp(12px, 3rem, 70px);
    line-height: 80px;
    color: #85be59;
    text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
    letter-spacing: -4px;
  
  }

img{
    max-width: 100%;
    width: 100%;
    height: 100%;/*étire les images dans le div*/
    object-fit: cover;/*se comporte comme une image de fond, les images remplissent bien les lignes*/
}
.grid_index{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /*grid-auto-rows:40vw ;*/
    grid-gap:1rem;
    padding: 1rem;
}
.item-1, .item-6, .item-9{
    grid-column: 1 / -1;
  }
  .item-2, .item-3, .item-4, .item-5, .item-7, .item-8{
    grid-column: span 6;
  }
  


@media screen and (min-width:1024px) {   
    img{
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .item-1{
        grid-column: 1 / 9;
      }
      .item-2, .item-3, .item-4, .item-5{
        grid-column: span 4;
      }
     .item-6, .item-7{
       grid-column: span 6;
     }
     .item-8{
       grid-column: span 6;
     }
     .item-9{
       grid-column: span 6;
     }
    }
    .item-1 {
        position: relative;
        padding: 0;
        width: 100%;
        display: block;
        cursor: pointer;
        overflow: hidden;
      }
      .contenu {
        opacity: 0;
        font-size: 1.1vw;
        font-weight:550;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        line-height: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        color: #000000;
        background-color: rgba(200, 200, 200, 0.911);
        width: 35%;
        height: 100%;
        padding-left: 3%;
        padding-right: 3%;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        text-align: center;
      }
      .pegi{
        margin-top: 5%;
        width: 20%;
        height: auto;
      }
      .item-1 .contenu:hover {
        opacity: 1;
      }
      .texte{
        margin-top:25%;
    }
      .item-1 .contenu .texte .pegi {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }
      .item-1 .contenu:hover .texte .pegi{
        opacity: 1;
        transform: translateY(250px);
        -webkit-transform: translateY(250px);
      }
      .item-2 {
        position: relative;
        padding: 0;
        width: 100%;
        display: block;
        cursor: pointer;
        overflow: hidden;
      }
      
      .item-2 .contenu:hover {
        opacity: 1;
      }
      .item-2 .contenu .texte .pegi {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }
      .item-2 .contenu:hover .texte .pegi {
        opacity: 1;
        transform: translateY(250px);
        -webkit-transform: translateY(250px);
      }
      .item-3 {
        position: relative;
        padding: 0;
        width: 100%;
        display: block;
        cursor: pointer;
        overflow: hidden;
      }
      .item-3 .contenu:hover {
        opacity: 1;
      }
      
      .item-3 .contenu .texte .pegi {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }
      .item-3 .contenu:hover .texte .pegi {
        opacity: 1;
        transform: translateY(250px);
        -webkit-transform: translateY(250px);
      }
      .item-4 {
        position: relative;
        padding: 0;
        width: 100%;
        display: block;
        cursor: pointer;
        overflow: hidden;
      }
      .item-4 .contenu:hover {
        opacity: 1;
      }
      
      .item-4 .contenu .texte .pegi {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }
      .item-4 .contenu:hover .texte .pegi {
        opacity: 1;
        transform: translateY(250px);
        -webkit-transform: translateY(250px);
      }
      .item-5 {
        position: relative;
        padding: 0;
        width: 100%;
        display: block;
        cursor: pointer;
        overflow: hidden;
      }
      .item-5 .contenu:hover {
        opacity: 1;
      }
      
      .item-5 .contenu .texte .pegi {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }
      .item-5 .contenu:hover .texte .pegi {
        opacity: 1;
        transform: translateY(250px);
        -webkit-transform: translateY(250px);
      }
      .item-6 {
        position: relative;
        padding: 0;
        width: 100%;
        display: block;
        cursor: pointer;
        overflow: hidden;
      }
      .item-6 .contenu:hover {
        opacity: 1;
      }
      
      .item-6 .contenu .texte .pegi {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }
      .item-6 .contenu:hover .texte .pegi {
        opacity: 1;
        transform: translateY(250px);
        -webkit-transform: translateY(250px);
      }
      
      .item-7 {
        position: relative;
        padding: 0;
        width: 100%;
        display: block;
        cursor: pointer;
        overflow: hidden;
      }
      .item-7 .contenu:hover {
        opacity: 1;
      }
      
      .item-7 .contenu .texte .pegi {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }
      .item-7 .contenu:hover .texte .pegi {
        opacity: 1;
        transform: translateY(250px);
        -webkit-transform: translateY(250px);
      }
      .item-8 {
        position: relative;
        padding: 0;
        width: 100%;
        display: block;
        cursor: pointer;
        overflow: hidden;
      }
      .item-8 .contenu:hover {
        opacity: 1;
      }
      
      .item-8 .contenu .texte .pegi {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }
      .item-8 .contenu:hover .texte .pegi {
        opacity: 1;
        transform: translateY(250px);
        -webkit-transform: translateY(250px);
      }
      .item-9 {
        position: relative;
        padding: 0;
        width: 100%;
        display: block;
        cursor: pointer;
        overflow: hidden;
      }
      .item-9 .contenu:hover {
        opacity: 1;
      }
      
      .item-9 .contenu .texte .pegi {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }
      .item-9 .contenu:hover .texte .pegi {
        opacity: 1;
        transform: translateY(250px);
        -webkit-transform: translateY(250px);
      }

      .animate-charcter
      {
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 4vw;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
    
.box {
  width: 100vh;
  margin: 4rem auto;
  padding-top: 5rem;
  background: rgba(255,255,255,0.3);
  padding: 2.5rem;
  border: 2px solid #ddd;
  border-radius: 20px/50px;
}
.button {
  font-size: 1.3rem;
  padding: 1rem;
  color: #fff;
  border: 2px solid #1d2d2d;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  background: rgba(26, 25, 25, 0.71);
  transition: all 0.1s ease-out;
}
.button:hover {
  background: #f358eb;
  color: #333;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  transition: opacity .4s;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 4.5rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 5px;
  width: 45%;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.popup .cross {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
  color: #333;
}
.popup .cross:hover {
  color: #12FCF8;
}

    @media screen and (max-width: 768px){
        .texte{
          display: none;
        }
        .contenu{
          display: none;
        }
        .pegi{
          display:none;
        }

        .popup {
          margin: 6rem auto;
          padding: 2rem;
          background: #fff;
          border-radius: 5px;
          width: 45%;
          position: relative;
          transition: all 0.4s ease-in-out;
        }

        .box {
          width: 600px;
          margin:6rem auto;
          padding-top: 5rem;
          background: rgba(255,255,255,0.3);
          padding: 2.5rem;
          border: 2px solid #ddd;
          border-radius: 20px/50px;
        }
        .switch span{
          display: block;
          margin: -50px 0 30px 0;
          font-size: clamp(12px, 3rem, 70px);
          line-height: 80px;
          color: #85be59;
          text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
          letter-spacing: -4px;
  
      }
      }
      

    
    







 
  
  